node_modules
.next/app-build-manifest.json
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/4.pack
.next/cache/webpack/client-development/5.pack
.next/cache/webpack/client-development/6.pack
.next/cache/webpack/client-development/7.pack
.next/cache/webpack/client-development/8.pack
.next/cache/webpack/client-development/9.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/11.pack
.next/cache/webpack/client-development/12.pack
.next/cache/webpack/client-development/13.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/client-development-fallback/0.pack
.next/cache/webpack/client-development-fallback/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/3.pack
.next/cache/webpack/server-development/4.pack
.next/cache/webpack/server-development/5.pack
.next/cache/webpack/server-development/6.pack
.next/cache/webpack/server-development/7.pack
.next/cache/webpack/server-development/8.pack
.next/cache/webpack/server-development/9.pack
.next/cache/webpack/server-development/10.pack
.next/cache/webpack/server-development/11.pack
.next/cache/webpack/server-development/12.pack
.next/cache/webpack/server-development/13.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/_error.js
.next/server/app-paths-manifest.json
.next/server/client-reference-manifest.js
.next/server/client-reference-manifest.json
.next/server/flight-server-css-manifest.js
.next/server/flight-server-css-manifest.json
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-api-runtime.js
.next/server/webpack-runtime.js
.next/server/app/page.js
.next/server/app/homePage/page.js
.next/server/app/login/page.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/api/controllers/ChatSession.js
.next/server/pages/api/controllers/User.js
.next/server/pages/api/controllers/ChatSession/SendMessage.js
.next/server/pages/api/controllers/User/getAllUsers.js
.next/static/chunks/_app-client_node_modules_next_font_google_target_css_path_src_app_layout_tsx_import_Inter_arg-b9cf48.js
.next/static/chunks/_app-client_src_app_globals_css.js
.next/static/chunks/_error.js
.next/static/chunks/amp.js
.next/static/chunks/app-client-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/app/homePage/page.js
.next/static/chunks/app/login/layout.js
.next/static/chunks/app/login/page.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/css/_app-client_node_modules_next_font_google_target_css_path_src_app_layout_tsx_import_Inter_arg-b9cf48.css
.next/static/css/_app-client_src_app_globals_css.css
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/2aaf0723e720e8b9-s.p.woff2
.next/static/media/9c4f34569c9b36ca-s.woff2
.next/static/media/ae9ae6716d4f8bf8-s.woff2
.next/static/media/b1db3e28af9ef94a-s.woff2
.next/static/media/b967158bc7d7a9fb-s.woff2
.next/static/media/c0f5ec5bbf5913b7-s.woff2
.next/static/media/d1d9458b69004127-s.woff2
.next/static/media/metadata/favicon.603d046c.ico
.next/static/webpack/_app-client_src_app_globals_css.39a8ac369dc3904a.hot-update.js
.next/static/webpack/7e5c23acd8419037.webpack.hot-update.json
.next/static/webpack/39a8ac369dc3904a.webpack.hot-update.json
.next/static/webpack/88846d8603d28266.webpack.hot-update.json
.next/static/webpack/269592c0e6fa13ea.webpack.hot-update.json
.next/static/webpack/amp.88846d8603d28266.hot-update.js
.next/static/webpack/bd08e0a2e1bc9897.webpack.hot-update.json
.next/static/webpack/main.88846d8603d28266.hot-update.js
.next/static/webpack/webpack.7e5c23acd8419037.hot-update.js
.next/static/webpack/webpack.39a8ac369dc3904a.hot-update.js
.next/static/webpack/webpack.88846d8603d28266.hot-update.js
.next/static/webpack/webpack.269592c0e6fa13ea.hot-update.js
.next/static/webpack/webpack.bd08e0a2e1bc9897.hot-update.js
.next/static/webpack/app/layout.269592c0e6fa13ea.hot-update.js
.next/types/app/layout.ts
.next/types/app/page.ts
.next/types/app/homePage/page.ts
.next/types/app/login/layout.ts
.next/types/app/login/page.ts
.vscode/settings.json
